.idea/
__pycache__/
*.py[cod]
/**/example_Mozilla_cookie.txt
/**/bilibili_image.png
/cnp_venv
/**/results_dir/
/**/result.json
/**/data.csv
/**/enter_experiment.txt
/**/data.json
/第五章：Ajax数据爬取/ScrapeSPA1.log
/第六章：异步爬虫/实战/ScrapeSPA5.log
